@tailwind base;
@tailwind components;
@tailwind utilities;

.inputErr {
  box-shadow: 0 0 3px #dc3545;
  border-style: solid;
  border-color: #dc3545;
  border-width: 2px;
}

.errMsg {
  text-shadow: 0 0 2px #dc3545;
  color: #dc3545;
}